* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    border: 8px solid rgba(234, 223, 108, 0.811);
    flex-wrap: wrap;
    width: 1000px;
    height: 700px;
}

.divStyle {
    border: 2px solid blue;
    flex: 1 0 25%;
    /* 
    width: 33.33333%;
    flex: 1;
    */
    

    /*Style the text inside each div */
    color: blue;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divStyle:hover {
    background-color: turquoise;
}