* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: blue;
}

/* CLASSES */
.container {
    display: flex;
    border: 8px solid rgba(234, 223, 108, 0.811);
    border-radius: 5px;
    flex-wrap: wrap;
    width: 1000px;
    height: 700px;
}

.divStyle {
    border: 0.5px solid blue;
    flex: 1 0 25%;

    /*Style the text inside each div */
    color: blue;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divStyle:hover {
    background-color: turquoise;
}

.newGridBtn {
    color: blue;
    padding: 10px 13px;
    margin: 10px 5px;
    border: 2px solid blue;
    border-radius: 5px;
}

.newGridBtn:hover {
    cursor: pointer;
    background-color: rgba(234, 223, 108, 0.811);
}